{% extends "base.html" %}
{% comment %} {% load allauth i18n %} {% endcomment %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Sign Out </h3>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to sign out?</p>
                    {% url 'account_logout' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary">Sign Out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
