<!-- police_signup.html -->
{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<script type="text/javascript">
  var states_arr = new Array("Andhra Pradesh" , "Arunachal Pradesh" , "Assam" , "Bihar" , "Chhattisgarh" , "Goa" , "Gujarat" , "Haryana" , "Himachal Pradesh" , "Jammu and Kashmir" , "Jharkhand" , "Karnataka" , "Kerala" , "Madhya Pradesh" , "Maharashtra" , "Manipur" , "Meghalaya" , "Mizoram" , "Nagaland" , "Orissa" , "Punjab" , "Rajasthan" , "Sikkim" , "Tamil Nadu" , "Telangana" , "Tripura" , "Uttar Pradesh" , "Uttaranchal" , "West Bengal" , "Andaman and Nicobar Islands" , "Chandigarh" , "D&N Haveli, Daman and Diu" , "Delhi" , "Lakshadweep" , "Pondicherry");

  var district_arr = new Array();

  district_arr[0] = "";

  district_arr[1] = "Anantapur|Chittoor|Cuddapah|East Godavari|Guntakal Railway|Guntur|Guntur Urban|Krishna|Kurnool|Nellore|Prakasham|Rajahmundry|Srikakulam|Tirupathi Urban|Vijayawada City|Vijayawada Railway|Visakha Rural|Visakhapatnam|Vizianagaram|West Godavari"

  district_arr[2] = "Anjaw|Changlang|Crime Branch|Dibang Valley|Kameng East|Kameng West|Kurung Kumey|Lohit|Longding|Lower Dibang Valley|Papum Pare City|Papum Pare Rural|Siang East|Siang Upper|Siang West|Subansiri Lower|Subansiri Upper|Tawang|Tirap|Namsai|Siang|Kamle|Kra Dadi|Lower Siang|Leparada|Shiyomi|Pakkessang";

  district_arr[3] = "BIEO|Barpeta|Baksa|Bongaigaon|CID|Cachar|Chirang|Darrang|Dhemaji|Dhubri|Dibrugarh|GRP|Goalpara|Golaghat|Guwahati City|Hailakandi|Hamren|Jorhat|Kamrup|Karbi Anglong|Karimganj|Kokrajhar|Lakhimpur|Morigaon|Dima Hasao|Nagaon|Nalbari|RPO|SOU|STF|Sibsagar|Sonitpur|Tinsukia|Udalguri|Sadia|Majuli|Biswanath|Hojai|South Salmara|Charaideo";

  district_arr[4] = "Araria|Arwal|Aurangabad|Bagaha|Banka|Begusarai|Bettiah|Kaimur(Bhabhua)|Bhagalpur|Bhojpur|Buxar|Darbhanga|Gaya|Gopalganj|Jamalpur Railway|Jamui|Jehanabad|Katihar|Katihar Railway|Khagaria|Kishanganj|Lakhisarai|Madhepura|Madhubani|Motihari|Munger|Muzaffarpur|Muzaffarpur Railway|Nalanda|Naugachia|Nawadah|Patna|Patna Railway|Purnea|Rohtas|Saharsa|Samastipur|Saran|Sheikhpura|Sheohar|Sitamarhi|Siwan|Supaul|Vaishali|Economic Offences Unit|Anti Terrorist Squad";

  district_arr[5] = "Balod|Balodbazar|Balrampur|Bemetra|Bilaspur|Bizapur|Dantewara|Dhamtari|Durg|Gariyaband|GRP Raipur|Jagdalpur|Janjgir|Jashpur|Kabirdham|Kanker|Kondagaon|Korba|Koriya|Mahasamund|Mungali|Narayanpur|Raigarh|Raipur|Rajnandgaon|Sarguja|Sukma|Surajpur|Gaurela-Pendra-Marwari";

  district_arr[6] = "North Goa|South Goa|CID";

  district_arr[7] = "Ahmedabad City|Ahmedabad Rural|Amreli|Anand|Arvalli|Banaskantha|Bharuch|Bhavnagar|Botad|Chhotaudepur|CID Crime|Dahod|Dang|Devbhumi Dwarka|Gandhinagar|Gir Somnath|Jamnagar|Junagadh|Kachchh East(G)|Kachchh West(B)|Kheda|Mahisagar|Mehsana|Morbi|Narmada|Navsari|Panchmahal|Patan|Porbandar|Rajkot City|Rajkot Rural|Sabarkantha|Surat City|Surat Rural|Surendranagar|Tapi|Vadodara City|Vadodara Rural|Valsad|W.Rly Ahmedabad|W.Rly Vadodara|Cyber Ahmedabad Range|Cyber Bhavnagar Range|Cyber Border Range|Cyber Gandhinagar Range|Cyber Junagadh Range|Cyber Panchmahal Range|Cyber Rajkot Range|Cyber Surat Range|Cyber Vadodara Range";

  district_arr[8] = "Ambala|Bhiwani|Faridabad|Fatehabad|GRP|Gurugram|Hissar|Jhajjar|Jind|Kaithal|Karnal|Kurukshetra|Mahendergarh|Nuh|Palwal|Panchkula|Panipat|Rewari|Rohtak|Sirsa|Sonipat|Yamunanagar|Irrigation & Power|Charkhi Dadri|Hansi";

  district_arr[9] = "Baddi|Bilaspur|Chamba|CID|GRP|Hamirpur|Kangra|Kinnaur|Kullu|Lahaul & Spiti|Mandi|Shimla|Sirmaur|Solan|Una|Cyber";

  district_arr[10] = "Anantnag|Awantipora|Bandipora|Baramulla|Budgam|Crime Jammu|Crime Srinagar|Doda|Ganderbal|Handwara|Jammu|Kathua|Kishtwar|Kulgam|Kupwara|Poonch|Pulwama|Railways Jammu|Railways Kashmir|Railways Katra|Rajouri|Ramban|Reasi|Samba|Shopian|Sopore|Srinagar|Udhampur|Cyber Crime Jammu|Cyber Crime Kashmir|Anti Narcotic Task Force Jammu";

  district_arr[11] = "Bokaro|Chaibasa|Chatra|Deoghar|Dhanbad|Dhanbad Railway|Dumka|Garhwa|Giridih|Godda|Gumla|Hazaribagh|Jamshedpur|Jamshedpur Railway|Jamtara|Khunti|Koderma|Latehar|Lohardagga|Pakur|Palamu|Ramgarh|Ranchi|Sahebganj|Saraikela|Simdega";

  district_arr[12] = "Bagalkot|Bengaluru City|Bengaluru District|Belagavi District|Ballari|Bidar|Vijayapura|Chikkaballapura|Chamarajnagar|Chikkamagaluru|Chitradurga|Dakshina Kannada|Davanagere|Dharwad|Gadag|Kalaburgi|Hassan|Haveri|Hubballi Dharwad City|K.G.F.|Kodagu|Kolar|Koppal|Mandya|Mangaluru City|Mysuru City|Mysuru District|Raichur|K.Railways|Ramanagara|Shimoga|Tumakuru|Udupi|Uttara Kannada|Yadgiri|Belagavi City|Kalaburgi City";

  district_arr[13] = "Alapuzha|Ernakulam Commr.|Ernakulam Rural|Idukki|Kannur City|Kasargod|Kollam Commr.|Kollam Rural|Kottayam|Kozhikode Commr.|Kozhikode Rural|Malappuram|Palakkad|Pathanamthitta|Railways|Thrissur Commr.|Thrissur Rural|Trivandrum Commr.|Trivandrum Rural|Wayanadu|Crime Branch|Kannur Rural";

  district_arr[14] = "Agar|Alirajpur|Anuppur|Ashok Nagar|Balaghat|Barwani|Betul|Bhind|Bhopal|Bhopal Railway|Burhanpur|Chhatarpur|Chhindwara|Damoh|Datia|Dewas|Dhar|Dindori|Guna|Gwalior|Harda|Hoshangabad|Indore|Indore Railway|Jabalpur|Jabalpur Railway|Jhabua|Katni|Khandwa|Khargone|Mandla|Mandsaur|Morena|Narsinghpur|Neemuch|Panna|Raisen|Rajgarh|Ratlam|Rewa|Sagar|Satna|Seoni|Shahdol|Shajapur|Sheopur|Shivpuri|Sidhi|Sehore|Singrauli|Tikamgarh|Ujjain|Umaria|Vidisha|Cyber Crime Cell|Niwari";

  district_arr[15] = "Ahmednagar|Akola|Amravati Commr.|Amravati Rural|Aurangabad Commr.|Aurangabad Rural|Beed|Bhandara|Buldhana|Chandrapur|Dhule|Gadchiroli|Gondia|Hingoli|Jalgaon|Jalna|Kolhapur|Latur|Mumbai Commr.|Mumbai Railway|Nagpur Commr.|Nagpur Railway|Nagpur Rural|Nanded|Nandurbar|Nasik Commr.|Nasik Rural|Navi Mumbai|Osmanabad|Palghar|Parbhani|Pune Commr.|Pune Railway|Pune Rural|Raigad|Ratnagiri|Sangli|Satara|Sindhudurg|Solapur Commr.|Solapur Rural|Thane Commr.|Thane Rural|Wardha|Washim|Yavatmal|Pimpri Chinchwad City|Aurangabad Railway|Mira Bhayandar Vasai Virar Commr.";

  district_arr[16] = "Bishnupur|Chandel|Churachandpur|CID|Imphal East|Imphal West|Senapati|Tamenglong|Thoubal|Ukhrul|Kakching|Kamjong|Kangpokpi|Jiribam|Noney|Pherzawl|Tengnoupal|Narcotic";

  district_arr[17] = "Garo Hills East|Garo Hills North|Garo Hills South|Garo Hills South West|Garo Hills West|Jaintia Hills West|Jaintia Hills East|Khasi Hills East|Khasi Hills South West|Khasi Hills West|Ri-Bhoi|Cyber Cell";

  district_arr[18] = "Aizawl|Champhai|Kolasib|Lawngtlai|Lunglei|Mamit|Saiha|Serchhip|Spl Narcotic|Saitual|Khawzawl|Hnahthial|Cyber";

  district_arr[19] = "Dimapur|Kiphire|Kohima|Longleng|Mokokchung|Mon|Peren|Phek|Tuensang|Wokha|Zunheboto";

  district_arr[20] = "Angul|Balasore|Baragarh|Berhampur|Bhadrak|Bolangir|Boudh|Cuttack|DCP BBSR|DCP CTC|Deogarh|Dhenkanal|Gajapati|Ganjam|Jagatsinghpur|Jajpur|Jharsuguda|Kalahandi|Kandhamal|Kendrapara|Keonjhar|Khurda|Koraput|Malkangiri|Mayurbhanj|Nayagarh|Nabarangpur|Nuapada|Puri|Rayagada|Rourkela|Sambalpur|Sonepur|SRP(Cuttack)|SRP(Rourkela)|Sundargarh|CID CB";


  district_arr[21] = "Amritsar Rural|Barnala|Batala|Bathinda|CP Amritsar|CP Jalandhar|CP Ludhiana|Faridkot|Fatehgarh Sahib|Fazilka|Ferozepur|GRP|Gurdaspur|Hoshiarpur|Jalandhar Rural|Kapurthala|Khanna|Ludhiana Rural|Mansa|Moga|Muktsar|Pathankot|Patiala|Ropar|Sangrur|SAS Nagar|SBS Nagar|Tarn Taran|Bureau of Investigation|Intelligence Wing|NRI Wing|Special Task Force|Malerkotla";

  district_arr[22] = "Ajmer|Alwar|Banswara|Baran|Barmer|Bharatpur|Bhilwara|Bikaner|Bundi|Chittorgarh|Churu|Dausa|Dholpur|Dungarpur|GRP Ajmer|GRP Jodhpur|Ganganagar|Hanumangarh|Jaipur East|Jaipur North|Jaipur Rural|Jaipur South|Jaipur West|Jaisalmer|Jalore|Jhalawar|Jhunjhunu|Jodhpur East|Jodhpur West|Jodhpur Rural|Karauli|Kota City|Kota Rural|Nagaur|Pali|Pratapgarh|Rajsamand|Sawai Madhopur|Sikar|Sirohi|Tonk|Udaipur|Jaipur Metro|SCRB|SOG|SSB|Jaipur Crime|Bhiwadi";

  district_arr[23] = "East|North|South|East|CID";

  district_arr[24] = "Ariyalur|Chennai|Coimbatore|Coimbatore City|Cuddalore|Dharmapuri|Dindigul|Erode|Kanchipuram|Kanyakumari|Karur|Krishnagiri|Madurai|Madurai City|Nagapattinam|Namakkal|Nilgiris|Perambalur|Pudukottai|Ramnathapuram|Railway Chennai|Railway Trichy|Salem|Salem City|Sivagangai|Thanjavur|Theni|Thirunelveli|Thirunelveli City|Thiruvallur|Thiruvannamalai|Thiruvarur|Thoothukudi|Tiruppur|Tiruppur City|Trichy|Trichy City|Vellore|Villupuram|Virudhunagar|Cyber Cell|Other Units|Chengalpattu|Kallakurichi|Ranipet|Tiruppattur|Tenkasi";

  district_arr[25] = "Cyberabad Commissionerate|Hyderabad Commissionerate|Karimnagar Commissionerate|Khammam Commissionerate|Nizamabad Commissionerate|Rachakonda Commissionerate|Ramagundam Commissionerate|Siddipet Commissionerate|Warangal Commissionerate|Adilabad|Bhadradri Kothagudem|Jagityal|Jayashankar Bhupalpalli|Jogulamba Gadwal|Kamareddy|Kumaram Bheem Asifabad|Mahabubabad|Mahabubnagar|Medak|Nagarkurnool|Nalgonda|Nirmal|Rajanna Siricilla|Sangareddy|Suryapet|Vikarabad|Wanaparthy|Railway Police Secunderabad|Mulug|Narayanpet";

  district_arr[26] = "Dhalai|Gomati|Khowai|North Tripura|Sipahijala|South Tripura|Unakoti|West Tripura";

  district_arr[27] = "Agra|Aligarh|Prayagraj|Ambedkar Nagar|Amethi|Amroha|Auraiya|Azamgarh|Badaun|Baghpat|Bahraich|Ballia|Balrampur|Banda|Barabanki|Bareilly|Basti|Bijnor|Bulandshahar|Chandoli|Chitrakoot|Deoria|Etah|Etawah|Ayodhya|Fatehgarh|Fatehpur|Firozabad|GRP|Gautambudh Nagar|Ghaziabad|Ghazipur|Gonda|Gorakhpur|Hamirpur|Hapur|Hardoi|Hathras|Jalaun|Jaunpur|Jhansi|Kannauj|Kanpur Dehat|Kanpur Commissionarate|Kasganj|Kaushambi|Khiri|Kushi Nagar|Lalitpur|Lucknow Commissionarate|Maharajganj|Mahoba|Mainpuri|Mathura|Mau|Meerut|Mirzapur|Moradabad|Muzaffarnagar|Pilibhit|Pratapgarh|Raibareilly|Rampur|Saharanpur|Sambhal|Sant Kabirnagar|Shahjahanpur|Shamli|Shrawasti|Sidharthnagar|Sitapur|Sonbhadra|Bhadohi|Sultanpur|Unnao|Varanasi Commissionarate|Lucknow Grameen|Kanpur Outer|Vasanasi Dehat";

  district_arr[28] = "Almora|Bageshwar|Chamoli|Champawat|Dehradun|Haridwar|Nainital|Pauri Garhwal|Pithoragarh|Rudra Prayag|Tehri Garhwal|Udhamsingh Nagar|Uttarkashi|GRP|Cyber Cell";

  district_arr[29] = "Alipurduar|Asansol-Durgapur PC|Bankura|Barrackpur PC|Bidhannagar PC|Birbhum|Coochbehar|Dakshin Dinajpur|Darjeeling|Hooghly Rural Police|Howrah GRP|Howrah PC|Howrah Rural|Jalpaiguri|Jhargram|Kharagpur GRP|Kolkata|Malda|Murshidabad Police District|Paschim Medinipur|Purab Medinipur|Purulia|Sealdah GRP|Siliguri GRP|Siliguri PC|Baruipur Police|Chandannagar PC|Diamond Harbour Police|Kalimpong|Purba Bardhaman|Sundarban Police|Barasat|Basirhat|Bangaon|Islampur|Jangipur Police District|Krishnagar|Raiganj|Ranaghat";



  district_arr[30] = "South Andaman|North & Middle Andaman|Nicobar";

  district_arr[31] = "Chandigarh";

  district_arr[32] = "D&N Haveli|Daman|Diu";


  district_arr[33] = "Central|Crime Branch|East|EOW|IGI Airport|Metro|New Delhi|North|North-East|North-West|Outer|RAILWAY|South|South-East|South-West|Spl Cell|SPUWAC|Vigilance|SPUWAC|West|Rohini|Shahdara|Dwarka|Outer North";

  district_arr[34] = "Lakshadweep";

  district_arr[35] = "Karaikal|Pudcherry";


  function populateDistricts(stateElementId, districtElementId) 
  {
    var selectedStateIndex = document.getElementById(stateElementId).selectedIndex;
    var districtElement = document.getElementById(districtElementId);
    districtElement.length = 0;
    districtElement.options[0] = new Option('Select district', '');
    districtElement.selectedIndex = 0;
    var district_ar = district_arr[selectedStateIndex].split("|");
    for (var i = 0; i < district_ar.length; i++) 
    {
      districtElement.options[districtElement.length] = new Option(district_ar[i], district_ar[i]);
    }
  }

  function populateStates(stateElementId, districtElementId)
  {
    // given the id of the <select> tag as function argument, it inserts <option> tags
    var stateElement = document.getElementById(stateElementId);
    stateElement.length = 0;
    stateElement.options[0] = new Option('Select state', '-1');
    stateElement.selectedIndex = 0;
    for (var i = 0; i < states_arr.length; i++)
    {
      stateElement.options[stateElement.length] = new Option(states_arr[i], states_arr[i]);
    }

    // Assigned all countries. Now assign event listener for the states.

    if (districtElementId) 
    {
      stateElement.onchange = function () 
      {
        populateDistricts(stateElementId, districtElementId);
      };
    }
  }
</script>
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Police Sign Up</h3>
          </div>

          <div class="card-body">
            <form method="post" action="{% url 'police_signup' %}">
              {% csrf_token %}
              
              <div class="mb-3">
                <label for="station_code" class="form-label">Station Code</label>
                {% render_field form.station_code id="station_code" name="station_code" placeholder="station code" type="text" class="form-control" %}
                {{ form.station_code.errors | safe }}
            </div>
            <div class="mb-3">
              <label for="station_name" class="form-label">station name</label>
              {% render_field form.station_name id="station_name" name="station_name" placeholder="station name" type="text" class="form-control" %}
              {{ form.station_name.errors | safe }}
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            {% render_field form.password id="password" name="password" placeholder="password" type="text" class="form-control" %}
            {{ form.password.errors | safe }}
        </div>
        <div class="mb-3">
          <label for="inputState" style="font-size: 16px; font-weight: bold; color: #333;">State</label>
                              <select id="state_input" name="state_input" style="width: 200px; padding: 5px; margin-bottom: 10px;border-radius: 5px; display: block;menu-placement: bottom;"></select>
                              <label for="inputState" style="font-size: 16px; font-weight: bold; color: #333;">District</label>
                              <select name="district" id="district" style="width: 200px; padding: 5px;border-radius: 5px; display: block; menu-placement:bottom !important;"></select>

                              <script language="javascript">
                                  populateStates("state_input", "district");
                              </script>
                              <input type="text" hidden name="type" value="district" /><br />
      </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}