<!-- police_login.html -->
{% extends "base.html" %}
{% block content %}


  <div class="container p-5" style="margin-top: 50px;">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card" style="border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
          <div class="card-header" style=" color: #ffffff; background-color: #0f054c;
          border-bottom: 1px solid #ccc;
          padding: 10px;">
            <h3 class="card-title" style="margin: 0;">Police Login</h3>
          </div>

          <div class="card-body" style="padding: 20px;">
            <form method="post" action="{% url 'police_login' %}" style="display: flex;
            flex-direction: column;" >
              {% csrf_token %}
              Station Code <input type="text" name="station_code" style="width: 100%;
              padding: 10px;
              margin-bottom: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;"/>
              Password <input type="password" name="password"style="width: 100%;
              padding: 10px;
              margin-bottom: 10px;
              border: 1px solid #ccc;
              border-radius: 5px;" />
              <div class="form-group" style=" margin-top: 20px;">
                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;
                padding: 10px;
                background-color: #007bff;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer; color: #ffffff; background-color: #0f054c; ">Log in</button>

              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
