<!-- police_login.html -->
{% extends "base.html" %}
{% block content %}
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Police Login</h3>
          </div>

          <div class="card-body">
            <form method="post" action="{% url 'police_login' %}">
              {% csrf_token %}
              Station Code <input type="text" name="station_code" />
              Password <input type="password" name="password" />
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
