{% extends "base.html" %}

{% load static %}
{% block content %}
<script type="text/javascript">
    var states_arr = new Array("Andhra Pradesh" , "Arunachal Pradesh" , "Assam" , "Bihar" , "Chhattisgarh" , "Goa" , "Gujarat" , "Haryana" , "Himachal Pradesh" , "Jammu and Kashmir" , "Jharkhand" , "Karnataka" , "Kerala" , "Madhya Pradesh" , "Maharashtra" , "Manipur" , "Meghalaya" , "Mizoram" , "Nagaland" , "Orissa" , "Punjab" , "Rajasthan" , "Sikkim" , "Tamil Nadu" , "Telangana" , "Tripura" , "Uttar Pradesh" , "Uttaranchal" , "West Bengal" , "Andaman and Nicobar Islands" , "Chandigarh" , "Dadra and Nagar Haveli" , "Daman and Diu" , "Delhi" , "Lakshadweep" , "Pondicherry");
  
    var district_arr = new Array();
  
    district_arr[0] = "";
  
    district_arr[1] = "Anantapur|Chittoor|Cuddapah|East Godavari|Guntur|Krishna|Kurnool|Nellore|Prakasam|Srikakulam|Vishakapatnam|Vizianagaram|West Godavari";
  
    district_arr[2] = "Anjaw|Changlang|Dibang Valley|East Kameng|East Siang|Kra Daadi|Kurung Kumey|Lohit|Longding|Lower Dibang Valley|Lower Subansiri|Namsai|Papum Pare|Siang|Tawang|Tirap|Upper Siang|Upper Subansiri|West Kameng|West Siang";
  
    district_arr[3] = "Baksa|Barpeta|Bongaigaon|Cachar|Chirang|Darrang|Dhemaji|Dhubri|Dibrugarh|Dima Hasao|Goalpara|Golaghat|Hailakandi|Jorhat|Kamrup M|Kamrup R|Karbi Anglong|Karimganj|Kokrajhar|Lakhimpur|Marigaon|Nagaon|Nalbari|Sibsagar|Sonitpur|Tinsukia|Udalguri";
  
    district_arr[4] = "Araria|Arwal|Aurangabad|Banka|Begusarai|Bhagalpur|Bhojpur|Buxar|Darbhanga|East Champaran|Gaya|Gopalganj|Jamui|Jehanabad|Kaimur Bhabua|Katihar|Khagaria|Kishanganj|Lakhisarai|Madhepura|Madhubani|Munger|Muzaffarpur|Nalanda|Nawada|Patna|Purnia|Rohtas|Saharsa|Samastipur|Saran|Sheikhpura|Sheohar|Sitamarhi|Siwan|Supaul|Vaishali|West Champaran";
  
    district_arr[5] = "Balod|Baloda Bazar|Balrampur|Bastar|Bemetra|Bijapur|Bilaspur|Dantewada|Dhamtari|Durg|Gariyaband|Janjgir Champa|Jashpur|Kanker|Kawardha|Kondagaon|Korba|Koriya|Mahasamund|Mungeli|Narayanpur|Raigarh|Raipur|Rajnandgaon|Sukma|Surajpur|Surguja";
  
    district_arr[6] = "North Goa|South Goa";
  
    district_arr[7] = "Ahmedabad|Amreli|Anand|Aravalli|Banas Kantha|Bharuch|Bhavnagar|Botad|Chhotaudepur|Dahod|Devbhumi Dwarka|Gandhinagar|Gir Somnath|Jamnagar|Junagadh|Kachchh|Kheda|Mahesana|Mahisagar|Morbi|Narmada|Navsari|Panch Mahals|Patan|Porbandar|Rajkot|Sabar Kantha|Surat|Surendranagar|Tapi|The Dangs|Vadodara|Valsad";
  
    district_arr[8] = "Ambala|Bhiwani|Faridabad|Fatehabad|Gurgaon|Hisar|Jhajjar|Jind|Kaithal|Karnal|Kurukshetra|Mahendragarh|Mewat|Palwal|Panchkula|Panipat|Rewari|Rohtak|Sirsa|Sonipat|Yamunanagar";
  
    district_arr[9] = "Bilaspur|Chamba|Hamirpur|Kangra|Kinnaur|Kullu|Lahul Spiti|Mandi|Shimla|Sirmaur|Solan|Una";
  
    district_arr[10] = "Anantnag|Badgam|Bandipora|Baramula|Doda|Ganderbal|Jammu|Kargil|Kathua|Kishtwar|Kulgam|Kupwara|Leh Ladakh|Poonch|Pulwama|Rajouri|Ramban|Reasi|Samba|Shopian|Srinagar|Udhampur";
  
    district_arr[11] = "Bokaro|Chatra|Deoghar|Dhanbad|Dumka|Garhwa|Giridih|Godda|Gumla|Hazaribagh|Jamtara|Khunti|Kodarma|Latehar|Lohardaga|Pakaur|Palamu|Pashchimi Singhbhum|Purbi Singhbhum|Ramgarh|Ranchi|Sahibganj|Saraikela|Simdega";
  
    district_arr[12] = "Bagalkote|Bangalore Rural|Bangalore Urban|Belgaum|Bellary|Bidar|Bijapur|Chamrajnagar|Chikkaballapur|Chikmagalur|Chitradurga|Dakshina Kannada|Davanagere|Dharwad|Gadag|Gulbarga|Hassan|Haveri|Kodagu|Kolar|Koppal|Mandya|Mysore|Raichur|Ramanagar|Shimoga|Tumkur|Udupi|Uttara Kannada|Yadgir";
  
    district_arr[13] = "Alappuzha|Ernakulam|Idukki|Kannur|Kasaragod|Kollam|Kottayam|KOZHIKKODE|Malappuram|Palakkad|Pathanamthitta|Thiruvananthapuram|Thrissur|Wayanad";
  
    district_arr[14] = "Agar Malwa|Alirajpur|Anuppur|Ashok Nagar|Balaghat|Barwani|Betul|Bhind|Bhopal|Burhanpur|Chhatarpur|Chhindwada|Damoh|Datia|Dewas|Dhar|Dindori|Guna|Gwalior|Harda|Hoshangabad|Indore|Jabalpur|Jhabua|Katni|Khandwa|Khargone|Mandla|Mandsaur|Morena|Narsinghpur|Neemuch|Panna|Raisen|Rajgarh|Ratlam|Rewa|Sagar|Satna|Sehore|Seoni|Shahdol|Shajapur|Sheopur|Shivpuri|Sidhi|Singroli|Tikamgarh|Ujjain|Umaria|Vidisha";
  
    district_arr[15] = "Ahmednagar|Akola|Amravati|Aurangabad|Bhandara|Bid|Brihan Mumbai|Buldana|Chandrapur|Dhule|Gadchiroli|Gondiya|Hingoli|Jalgaon|Jalna|Kolhapur|Latur|Nagpur|Nanded|Nandurbar|Nashik|Osmanabad|Palghar|Parbhani|Pune|Raigarh|Ratnagiri|Sangli|Satara|Sindhudurg|Solapur|Thane|Wardha|Washim|Yavatmal";
  
    district_arr[16] = "Bishnupur|Chandel|Churachandpur|Imphal East|Imphal West|Senapati|Tamenglong|Thoubal|Ukhrul";
  
    district_arr[17] = "East Garo Hills|East Jaintia Hills|East Khasi Hills|North Garo Hills|Ri Bhoi|South Garo Hills|South West Garo Hills|South West Khasi Hills|West Garo Hills|West Jaintia Hills|West Khasi Hills";
  
    district_arr[18] = "Aizawl East|Aizawl West|Champhai|Kolasib|Lawngtlai|Lunglei|Mamit|Saiha|Serchhip";
  
    district_arr[19] = "Dimapur|Kiphire|Kohima|Longleng|Mokokchung|Mon|Peren|Phek|Tuensang|Wokha|Zunheboto";
  
    district_arr[20] = "Anugul|Balangir|Baleshwar|Bargarh|Baudh|Bhadrak|Cuttack|Deogarh|Dhenkanal|Gajapati|Ganjam|Jagatsinghpur|Jajapur|Jharsuguda|Kalahandi|Kandhamal|Kendrapara|Keonjhar|Khordha|Koraput|Malkangiri|Mayurbhanj|Nabarangapur|Nayagarh|Nuapada|Puri|Rayagada|Sambalpur|Sonapur|Sundargarh";
  
  
    district_arr[21] = "Amritsar|Barnala|Bathinda|Faridkot|Fatehgarh Sahib|Fazilka|Firozpur|Gurdaspur|Hoshiarpur|Jalandhar|Kapurthala|Ludhiana|Mansa|Moga|Mohali SAS Nagar|Muktsar|Nawanshahr|Pathankot|Patiala|Rupnagar|Sangrur|Tarn Taran";
  
    district_arr[22] = "Ajmer|Alwar|Banswara|Baran|Barmer|Bharatpur|Bhilwara|Bikaner|Bundi|Chittaurgarh|Churu|Dausa|Dhaulpur|Dungarpur|Ganganagar|Hanumangarh|Jaipur|Jaisalmer|Jalor|Jhalawar|Jhunjhunun|Jodhpur|Karauli|Kota|Nagaur|Pali|Pratapgarh|Rajsamand|Sawai Madhopur|Sikar|Sirohi|Tonk|Udaipur";
  
    district_arr[23] = "East|North|South|West";
  
    district_arr[24] = "Ariyalur|Chennai|Coimbatore|Cuddalore|Dharmapuri|Dindigul|Erode|Kancheepuram|Kanniyakumari|Karur|Krishnagiri|Madurai|Nagapattinam|Namakkal|Nilgiris|Perambalur|Pudukkottai|Ramanathapuram|Salem|Sivaganga|Thanjavur|Theni|Thiruvallur|Thiruvarur|Tiruchirappalli|Tirunelveli|Tirupur|Tiruvanamalai|Toothukudi|Vellore|Viluppuram|Virudhunagar";
  
    district_arr[25] = "Adilabad|Hyderabad|Karim Nagar|Khammam|Mahbubnagar|Medak|Nalgonda|Nizamabad|Ranga Reddy|Warangal Urban";
  
    district_arr[26] = "Dhalai|Gomati|Khowai|North Tripura|Sipahijala|South Tripura|Unakoti|West Tripura";
  
    district_arr[27] = "Agra|Aligarh|Allahabad|Ambedkar Nagar|Auraiya|Azamgarh|Bagpat|Bahraich|Ballia|Balrampur|Banda|Barabanki|Bareilly|Basti|Bijnor|Budaun|Bulandshahar|C S M Nagar|Chandauli|Chitrakoot|Deoria|Etah|Etawah|Faizabad|Farrukhabad|Fatehpur|Firozabad|Gautam Buddha Nagar|Ghaziabad|Ghazipur|Gonda|Gorakhpur|Hamirpur|Hapur|Hardoi|Hathras|Jalaun|Jaunpur|Jhansi|Jyotiba Phule Nagar|Kannauj|Kanpur Dehat|Kanpur Nagar|Kashi Ram Nagar|Kaushambi|Kushinagar|Lakhimpur Kheri|Lalitpur|Lucknow|Maharajganj|Mahoba|Mainpuri|Mathura|Maunathbhanjan|Meerut|Mirzapur|Moradabad|Muzaffarnagar|Pilibhit|Pratapgarh|Rae Bareli|Rampur|Saharanpur|Sambhal|Sant Kabir Nagar|Sant Ravidas Nagar|Shahjahanpur|Shamli|Shrawasti|Siddharth Nagar|Sitapur|Sonbhadra|Sultanpur|Unnav|Varanasi";
  
    district_arr[28] = "Almora|Bageshwar|Chamoli|Champawat|Dehradun|Garhwal|Hardwar|Nainital|Pithoragarh|Rudraprayag|Tehri Garhwal|Udham Singh Nagar|Uttarkashi";
  
    district_arr[29] = "Alipurduar|Bankura|Barddhaman|Birbhum|Dakshin Dinajpur|Darjiling|Haora|Hugli|Jalpaiguri|Koch Bihar|Maldah|Murshidabad|Nadia|North Twenty Four Parganas|Paschim Medinipur|Purba Medinipur|Puruliya|South Twenty Four Parganas|Uttar Dinajpur";
  
  
  
    district_arr[30] = "Nicobar|North and Middle Andaman|South Andaman";
  
    district_arr[31] = "Chandigarh";
  
    district_arr[32] = "Dadra and Nagar Haveli";
  
    district_arr[33] = "Daman|Diu";
  
    district_arr[34] = "Central|East|New Delhi|North|North East|North West|Shahdara|South|South East|South West|West";
  
    district_arr[35] = "Lakshadweep";
  
    district_arr[36] = "Karaikal|Mahe|Pondicherry|Yanam";
  
  
    function populateDistricts(stateElementId, districtElementId) 
    {
      var selectedStateIndex = document.getElementById(stateElementId).selectedIndex;
      var districtElement = document.getElementById(districtElementId);
      districtElement.length = 0;
      districtElement.options[0] = new Option('Select district', '');
      districtElement.selectedIndex = 0;
      var district_ar = district_arr[selectedStateIndex].split("|");
      for (var i = 0; i < district_ar.length; i++) 
      {
        districtElement.options[districtElement.length] = new Option(district_ar[i], district_ar[i]);
      }
    }
  
    function populateStates(stateElementId, districtElementId)
    {
      // given the id of the <select> tag as function argument, it inserts <option> tags
      var stateElement = document.getElementById(stateElementId);
      stateElement.length = 0;
      stateElement.options[0] = new Option('Select state', '-1');
      stateElement.selectedIndex = 0;
      for (var i = 0; i < states_arr.length; i++)
      {
        stateElement.options[stateElement.length] = new Option(states_arr[i], states_arr[i]);
      }
  
      // Assigned all countries. Now assign event listener for the states.
  
      if (districtElementId) 
      {
        stateElement.onchange = function () 
        {
          populateDistricts(stateElementId, districtElementId);
        };
      }
    }
  </script>
  <script>
    function searchFunction() {
      // Declare variables
      var input, filter, select, options, option, i, txtValue;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      select = document.getElementById("locations");
      options = select.getElementsByTagName("option");
    
      // Loop through all options, hide those that don't match the search query
      for (i = 0; i < options.length; i++) {
        option = options[i];
        txtValue = option.textContent || option.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          option.style.display = "";
        } else {
          option.style.display = "none";
        }
      }
    }
    </script>
<div class="container p-8" style="margin-top: 50px; width: 100%;">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card" style="border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <div class="card-header" style="color: #ffffff; background-color: #0f054c; border-bottom: 1px solid #ccc; padding: 10px;">
                    <h3 class="card-title" style="margin: 0;">Crime Prediction</h3>
                </div>
                <form method="post" action="{% url 'home:predict' %}" enctype="multipart/form-data" style="max-width: 100%; margin: 0 auto;">
                    {% csrf_token %}
                    <br>
                        <div class="col-md-12">
                    
                                                <div class="form-group">
                                                        <div align="center">
                                                          
                                                          <select id="location" name="location" >
                                                            <option value="City Bus Stop-Near Samrat Hotel, Mahatma Gandhi Marg, Indore City, Indore">City Bus Stop-Near Samrat Hotel, Mahatma Gandhi Marg, Indore City, Indore</option>
                                                            <option value="Aastha Hospital, Old A. B. Road, Indore City, Indore">Aastha Hospital, Old A. B. Road, Indore City, Indore</option>
                                                            <option value="MR10, Bhichaulihapsi, Indore">MR10, Bhichaulihapsi, Indore</option>
                                                            <option value="Vishwas Enterprises Chemist And Drugist, 369, M.G.ROAD, Indore City, Indore">Vishwas Enterprises Chemist And Drugist, 369, M.G.ROAD, Indore City, Indore</option>
                                                            <option value="Airport Road, Indore City, Indore">Airport Road, Indore City, Indore</option>
                                                            <option value="Vaishali Nagar, Indore">Vaishali Nagar, Indore</option>
                                                            <option value="Barawagrada, Indore">Barawagrada, Indore</option>
                                                            <option value="एस बी आई, Mahunaka Road, Indore City, Indore">एस बी आई, Mahunaka Road, Indore City, Indore</option>
                                                            <option value="Max, Ring Road, Vaishali Nagar, Indore">Max, Ring Road, Vaishali Nagar, Indore</option>
                                                            <option value="Old A. B. Road, Indore City, Indore">Old A. B. Road, Indore City, Indore</option>
                                                            <option value="Hawa Banglow Road, Vaishali Nagar, Indore">Hawa Banglow Road, Vaishali Nagar, Indore</option>
                                                            <option value="Mundlanayta, Indore">Mundlanayta, Indore</option>
                                                            <option value="Primus Lounge, Airport Road, Indore City, Indore">Primus Lounge, Airport Road, Indore City, Indore</option>
                                                            <option value="Depalpur, Depalpur, Indore">Depalpur, Depalpur, Indore</option>
                                                            <option value="Sanyogitaganj School, Old A. B. Road, Indore City, Indore">Sanyogitaganj School, Old A. B. Road, Indore City, Indore</option>
                                                            <option value="Sater, Dr. Ambedkar Nagar, Indore">Sater, Dr. Ambedkar Nagar, Indore</option>
                                                            <option value="Betma, Betma, Indore">Betma, Betma, Indore</option>
                                                            <option value="Dr Hemant Chopra Clinic, L. I. G. Square - Patnipura Square Road, Indore City, Indore">Dr Hemant Chopra Clinic, L. I. G. Square - Patnipura Square Road, Indore City, Indore</option>
                                                            <option value="Tarmal Traders, Mahatma Gandhi Marg, Indore City, Indore">Tarmal Traders, Mahatma Gandhi Marg, Indore City, Indore</option>
                                                            <option value="MHOW Road, Mhow Cant, Dr. Ambedkar Nagar, Indore">MHOW Road, Mhow Cant, Dr. Ambedkar Nagar, Indore</option>
                                                            <option value="Manglya, Indore">Manglya, Indore</option>
                                                            <option value="Chikmaglur Square, Indore City, Indore">Chikmaglur Square, Indore City, Indore</option>
                                                            <option value="Iconic Dental Care, Yashwant Niwas Road, Indore City, Indore">Iconic Dental Care, Yashwant Niwas Road, Indore City, Indore</option>
                                                            <option value="Ralamandal, Indore">Ralamandal, Indore</option>
                                                            <option value="Hatod, Hatod, Indore">Hatod, Hatod, Indore</option>
                                                            <option value="Ambachandan, Ambachandan , Indore">Ambachandan, Ambachandan , Indore</option>
                                                            <option value="Simrol, Simrol, Indore">Simrol, Simrol, Indore</option>
                                                            <option value="SGSITS, Race Course Road, Indore City, Indore">SGSITS, Race Course Road, Indore City, Indore</option>
                                                            <option value="Lasudia Mori, Indore">Lasudia Mori, Indore</option>
                                                            <option value="Bhichaulihapsi, Indore">Bhichaulihapsi, Indore</option>
                                                            <option value="Bhanwarasla, Indore">Bhanwarasla, Indore</option>
                                                            <option value="New Girls Degree College, MD4513, Indore City, Indore">New Girls Degree College, MD4513, Indore City, Indore</option>
                                                            <option value="Dr. Kalpana Mahajan, 474, LaxmanSing Gaur Marg, Indore City, Indore">Dr. Kalpana Mahajan, 474, LaxmanSing Gaur Marg, Indore City, Indore</option>
                                                            <option value="Navandapanth, Indore">Navandapanth, Indore</option>
                                                            <option value="Shri Malhar Ayurvedic Store, 5-B, Agra-Bombay Road, Indore City">Shri Malhar Ayurvedic Store, 5-B, Agra-Bombay Road, Indore City</option>
                                                            <option value="Kodriya, Kodriya, Indore">Kodriya, Kodriya, Indore</option>
                                                            <option value="Makoria, Indore">Makoria, Indore</option>
                                                            <option value="Simrol, Simrol, Indore">Simrol, Simrol, Indore</option>
                                                            <option value="Ganesh Ganj Marg, Indore City, Indore">Ganesh Ganj Marg, Indore City, Indore</option>
                                                            <option value="Palasiya Police Station, Greater Kailash Road, Indore City, Indore">Palasiya Police Station, Greater Kailash Road, Indore City, Indore</option>
                                                            <option value="Anand Hospital And Research Centre Pvt.Ltd., 7, Bhawarkuwa Road (ROB), Indore City, Indore">Anand Hospital And Research Centre Pvt.Ltd., 7, Bhawarkuwa Road (ROB), Indore City, Indore</option>
                                                            <option value="Government Civil Dispensary, Pandhrinath Square, Indore City, Indore">Government Civil Dispensary, Pandhrinath Square, Indore City, Indore</option>
                                                            <option value="Janjeerwala Square, Janjeerwala square, Indore City, Indore">Janjeerwala Square, Janjeerwala square, Indore City, Indore</option>
                                                            <option value="Dr C S Thatte, Yashwant Niwas Road, Indore City, Indore">Dr C S Thatte, Yashwant Niwas Road, Indore City, Indore</option>
                                                            <option value="Ujjain Road, Ringnodia, Indore">Ujjain Road, Ringnodia, Indore</option>
                                                            <option value="C21 Mall, Service Road, Indore City, Indore">C21 Mall, Service Road, Indore City, Indore</option>
                                                            <option value="Sunrise Hospital, 54, Old A. B. Road, Lasudia Mori, Indore">Sunrise Hospital, 54, Old A. B. Road, Lasudia Mori, Indore</option>
                                                            <option value="School of Pharmacy, DAVV, Ring Road, Indore City, Indore">School of Pharmacy, DAVV, Ring Road, Indore City, Indore</option>
                                                            <option value="Maulana Azad Marg, Indore City, Indore">Maulana Azad Marg, Indore City, Indore</option>
                                                            <option value="Sarafa Vidhya Niketan, MOG line Road, Indore City, Indore">Sarafa Vidhya Niketan, MOG line Road, Indore City, Indore</option>
                                                            <option value="Vaishnav Campus, Jawahar Marg, Indore City, Indore">Vaishnav Campus, Jawahar Marg, Indore City, Indore</option>
                                                            <option value="Dhar Road, Indore City, Indore">Dhar Road, Indore City, Indore</option>
                                                            <option value="Doctor's House, 2/29, Dhar Road, Indore City, Indore">Doctor's House, 2/29, Dhar Road, Indore City, Indore</option>
                                                            
                                                            <option value="NH 59A, Kaji Palasiya, Indore">NH 59A, Kaji Palasiya, Indore</option>
                                                          </select>
                                                          <input type="text" hidden name="type" value="location" /><br />
                                                          <br>
                                                        </br>
                                                          
                                                                    <input type="datetime-local" class="form-control" name="timestamp" step="1" style="width:250px;"><br>
                                                                    <input type="submit" value="Predict" class="btn btn-primary" >
                                                                    <input type="reset" value="Reset Data" class="btn btn-primary">
                                                                  
                                                        </div>
                                                </div>
                                            </div>
                    
                    {% comment %} <button type="submit" class="btn btn-primary" style="width: 60%;">Submit</button> {% endcomment %}
                </form>
                <div class="container" >
                    {{prediction}}
                    </div>
            </div>
        </div>
       
    </div>
    
</div>



{% endblock %}
